<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testPlugins" 
             type="dPanel.PanelPlugins.PluginConfigSection, PanelPlugins, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
             allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <testPlugins>
    <plugins>
      <addPluginConfig assemblyPath="test1" pluginClass="testClass1" />
      <addPluginConfig assemblyPath="test1" pluginClass="testClass1.1" />
      <addPluginConfig assemblyPath="test2" pluginClass="testClass2" />
      <addPluginConfig assemblyPath="test3" pluginClass="testClass3" />
    </plugins>
  </testPlugins>
</configuration>